<?xml version="1.0"?>
<connectionStrings>
  <add  name="ptrn23" connectionString="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = csmper-cls09-vip)(PORT = 1521)) 
    (CONNECT_DATA = 
      (SERVER = DEDICATED) 
      (SERVICE_NAME = ptrn23) 
    ) 
  );User Id=read_only;Password=read_only;" providerName="Oracle.dataAccess"/>

  <add  name="pim_virtual" connectionString="Data Source=PIM_VIRTUAL;User Id=PIM;Password=PIM123;" providerName="Oracle.dataAccess"/>

  <add  name="pdev18" connectionString="Data Source=pdev18;User Id=read_only;Password=read_only;" providerName="Oracle.dataAccess"/>

  
</connectionStrings>
