<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UnityConfigFile" value="InMemory_Unity.config"/>
    
  </appSettings>

  <connectionStrings>
    <add name="TestConnectionString" connectionString="Data Source=pdev23;User Id=rpo;Password=rpo;" providerName="Oracle.dataAccess"/>
  </connectionStrings>
</configuration>